@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@mixin link-reset {
  display: block;
  color: $black;
  text-decoration: none;
}

@mixin anim-addition {
  opacity: 0;
  animation-fill-mode: forwards;
}

@mixin bottomMargin($botMar) {
  margin: 0 0 #{$botMar + px};
}

@mixin textFormat($size, $weight, $height, $marginBottom) {
  font-size: #{$size + px};
  font-weight: $weight;
  @if $height == unset {
    line-height: $height;
  } @else {
    line-height: #{$height + px};
  }
  margin: 0 0 #{$marginBottom + px};
}

.body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  @include link-reset();
  @include textFormat(16, 600, 24, 0);
  border: 2px solid;
  border-radius: 3px;
}

.section {
  @include bottomMargin(100);
  &__title {
    @include anim-addition();
    @include textFormat(36, 700, unset, 24);
  }

  &__description {
    @include anim-addition();
    @include textFormat(16, 400, 24, 48);
    width: 60%;
  }
}

@media (max-width: 768px) {
  .section {
    @include bottomMargin(50);
    &__description {
      width: 90%;
    }
  }
}

@media (max-width: 576px) {
  .section {
    &__title {
      font-size: 24px;
      @include bottomMargin(12);
    }

    &__description {
      font-size: 13px;
      @include bottomMargin(24);
    }
  }
}
