@font-face {
  font-family: 'icons';
  src: url('../../build/fonts/icons.eot');
  src: url('../../build/fonts/icons.eot?#iefix') format('eot'),
    url('../../build/fonts/icons.woff2') format('woff2'),
    url('../../build/fonts/icons.woff') format('woff'),
    url('../../build/fonts/icons.ttf') format('truetype'),
    url('../../build/fonts/icons.svg#icons') format('svg');
}
.icon {
  position: relative;
}

.icon:before {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-arrow:before {
  content: '\E001';
}

.icon-body:before {
  content: '\E002';
}

.icon-coaches:before {
  content: '\E003';
}

.icon-cup:before {
  content: '\E004';
}

.icon-emotions:before {
  content: '\E005';
}

.icon-link-arrow:before {
  content: '\E006';
}

.icon-photo:before {
  content: '\E007';
}

.icon-rooms:before {
  content: '\E008';
}

.icon-smiles:before {
  content: '\E009';
}

.icon-star:before {
  content: '\E00A';
}
